engine-strict = true
save-prefix = ""
enable-pre-post-scripts = true

auto-install-peers = false
strict-peer-dependencies = false

link-workspace-packages = true
save-workspace-protocol = false

legacy-peer-deps = true
resolution-mode = highest
loglevel = info
